# Data Cleaning with Pandas

*This notebook was adapted from Melanie Walsh's "Pandas Basics", [Part 3](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/03-Pandas-Basics-Part3.html#) and [Part 4](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/04-Pandas-Merge-Datasets.html).*

In this notebook, we will expand our knowledge of pandas by discussing the following aspects of data cleaning:

- Merging datasets
- More on the dataframe `index`
- Intro to accessor functions (e.g., working with strings, datetimes, etc.)
- Applying functions
- `map`, `reduce`, and `filter`
- The `.apply` method
- `pivot` and `melt`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt                 
import seaborn as sns

%config InlineBackend.figure_formats = ['svg']

# personal seaborn preferences ...
custom_params = {"axes.spines.right": False, "axes.spines.top": False}
sns.set_theme(style="whitegrid", rc=custom_params)

/tmp/ipykernel_5222/1101864529.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Diversity in Film

**How many movies are actually dispropotionately featuring white men? What changes by genre, era, or box-office revenue? What circumstances generate more diversity?**

The dataset that we're working with in this lesson is taken from Hannah Andersen and Matt Daniels's *Pudding* essay, ["Film Dialogue from 2,000 screenplays, Broken Down by Gender and Age"](https://pudding.cool/2017/03/film-dialogue/). The dataset provides information about 2,000 films from 1925 to 2015, including characters’ names, genders, ages, how many words each character spoke in each film, the release year of each film, and how much money the film grossed. They included character gender information because they wanted to contribute data to a broader conversation about how "white men dominate movie roles."

Yet, transforming complex social constructs like gender into quantifiable data is tricky and historically fraught. They claim, in fact, that one of the [most frequently asked questions](https://medium.com/@matthew_daniels/faq-for-the-film-dialogue-by-gender-project-40078209f751) about the piece is about gender: E.g., *“How do you know the monster in Monsters Inc. is a boy!"* The short answer is that they don't. To determine character gender, they used actors' IMDB information, which they acknowledge is an imperfect approach: "Sometimes, women voice male characters. Bart Simpson, for example, is voiced by a woman. We’re aware that this means some of the data is wrong, AND we’re still fine with the methodology and approach."

> **What do you think about this approach to determining gender?** How does such a binary understanding of gender, gleaned from the IMDB pages of actors, influence our later results and conclusions? What do we gain by using such an approach, and what do we lose? How else might we have encoded or determined gender for the same data?

## Merging

When Andersen and Daniels published their essay, they used results from *two* related data tables. Before we proceed in this notebook, we'll merge the two.

In [2]:
df_metadata = pd.read_csv('./data/meta_data7.csv')
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   script_id   2000 non-null   int64
 1   imdb_id     2000 non-null   object
 2   title       2000 non-null   object
 3   year        2000 non-null   int64
 4   gross       1662 non-null   float64
 5   lines_data  2000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 93.9+ KB

In [3]:
df_metadata.head()

,script_id,imdb_id,title,year,gross,lines_data
0,1534,tt1022603,(500) Days of Summer,2009,37.0,7435445256774780000000000000000000000000000000...
1,1512,tt0147800,10 Things I Hate About You,1999,65.0,1777752320274530000000000000000000000000000000...
2,1514,tt0417385,12 and Holding,2005,NaN,5461357777754220000000000000000000000000000000...
3,1517,tt2024544,12 Years a Slave,2013,60.0,4567334777777780000000000000000000000000000000...
4,1520,tt1542344,127 Hours,2010,20.0,453513352345766000000000000000

The "lines_data" column apparently contains encoded information about when during the film each character speaks. Since we don't have the means (or need) to decode it, we'll drop the column altogether.

In [4]:
df_metadata.drop(columns='lines_data', inplace=True)

They published another CSV file called "character_list5.csv" that contains, among other things, the name, gender, and age of each character as well as the number of words the character speaks.

In [5]:
df_characters = pd.read_csv('./data/character_list5.csv')
df_characters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23048 entries, 0 to 23047
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   script_id            23048 non-null  int64
 1   imdb_character_name  23046 non-null  object
 2   words                23048 non-null  int64
 3   gender               23048 non-null  object
 4   age                  18263 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 900.4+ KB

In [6]:
df_characters

       script_id imdb_character_name  words gender   age
0            280               betty    311      f  35.0
1            280     carolyn johnson    873      f   NaN
2            280             eleanor    138      f   NaN
3            280     francesca johns   2251      f  46.0
4            280               madge    190      f  46.0
...          ...                 ...    ...    ...   ...
23043       9254             lumiere   1063      m  56.0
23044       9254             maurice   1107      m  71.0
23045       9254     monsieur d'arqu    114      m  58.0
23046       9254          mrs. potts    564      f  66.0
23047       9254            wardrobe    121      f  54.0

[23048 rows x 5 columns]

As you can see, the characters DataFrame doesn't include the actual title of the movie in which the character appears or the movie's release year or box office gross. And `df_metadata` doesn't contain any information about the characters. We want that info all in one place.

There's one column that both datasets share in common: *script_id*. If two datasets share at least one column in common, we can merge them together based on this column. Using the [`pd.merge()` function](https://pandas.pydata.org/docs/user_guide/merging.html#brief-primer-on-merge-methods-relational-algebra), we link each corresponding row carying the same *script_id* value. As explained in the linked documentation, this could be **one-to-one**, **one-to-many**, or **many-to-many**. For example:

    Column values [1,2,3,4,5] merged with [6,7,8,9,10] will give 0 rows
    Column values [1,2,3,4,5] merged with [1,2,3,4,5] will give 5 rows
    Column values [1,1,1,1,1] merged with [1,1,1,1,1] will give 25 rows

In [7]:
df_a = pd.DataFrame({'a': [1, 2, 3, 4],
                     'letters_from_a': ['a', 'b', 'c', 'd']})

df_b = pd.DataFrame({'a': [2, 3, 4, 5, 6],
                     'letters_from_b': ['a', 'b', 'c', 'd', 'e']})

In [8]:
df_a

   a letters_from_a
0  1              a
1  2              b
2  3              c
3  4              d

In [9]:
df_b

   a letters_from_b
0  2              a
1  3              b
2  4              c
3  5              d
4  6              e

In [10]:
pd.merge(df_a, df_b, how='inner')  # try the other `how` options

   a letters_from_a letters_from_b
0  2              b              a
1  3              c              b
2  4              d              c

In [11]:
df_films = pd.merge(df_characters, df_metadata, on='script_id')
df_films

,script_id,imdb_character_name,words,gender,age,imdb_id,title,year,gross
0,280,betty,311,f,35.0,tt0112579,The Bridges of Madison County,1995,142.0
1,280,carolyn johnson,873,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0
2,280,eleanor,138,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0
3,280,francesca johns,2251,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0
4,280,madge,190,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0
...,...,...,...,...,...,...,...,...,...
23043,9254,lumiere,1063,m,56.0,tt0101414,Beauty and the Beast,1991,452.0
23044,9254,maurice,1107,m,71.0,tt0101414,Beauty and the Beast,1991,452.0
23045,9254,monsieur d'arqu,114,m,58.0,tt0101414,Beauty and the Beast,1991,452.0
23046,9254,mrs. potts,564,f,66.0,tt0101414,Beauty and the Beast,1991,452.0
23047,9254,wardrobe,121,f,54.0,tt0101414,Beauty and the Beast,1991,452.0

> What does each row represent now?

### data check
Running "data checks" or "gut checks" is just a good habit to get into, so I'll show an example here of gaining confidence that our merge went smoothly.

In [12]:
# validation check
df_characters.shape, df_metadata.shape

((23048, 5), (2000, 5))

In [13]:
df_films.shape

(23048, 9)

In [14]:
df_films.sample(10)

,script_id,imdb_character_name,words,gender,age,imdb_id,title,year,gross
2862,1330,paul krendler,241,m,43.0,tt0102926,The Silence of the Lambs,1991,270.0
8907,2920,mini,7195,f,18.0,tt0425253,Mini's First Time,2006,NaN
11074,3554,brody,606,m,NaN,tt0857295,Timber Falls,2007,NaN
13295,4379,ron,440,m,56.0,tt1341188,How Do You Know,2010,33.0
1229,921,Lieutenant Dan,1228,m,39.0,tt0109830,Forrest Gump,1994,686.0
3440,1461,moloch,211,m,51.0,tt0409459,Watchmen,2009,125.0
12010,3902,hillary whitney,2547,f,40.0,tt0094715,Beaches,1988,120.0
9107,2962,adam,1272,m,30.0,tt0166924,Mulholland Drive,2001,11.0
675,795,s.s. hahn,662,m,59.0,tt0824747,Changeling,2008,43.0
14149,4679,det. captain ed,704,m,66.0,tt0102510,The Naked Gun 2ﾽ: The Smell of Fear,1991,179.0

We can use `.duplicated` to build a Boolean series which logs duplicate rows. Rows that *are* duplicated can be counted using `.sum`.

In [15]:
df_films.duplicated().sum()

0

In [16]:
df_characters['age'].isna().sum() == df_films['age'].isna().sum()

True

In [17]:
# a bit of cleanup
df_films.rename(columns={'imdb_character_name': 'character', 
                         'year': 'release_year'}, inplace=True)

## Minding the Index

**The safest way to create new columns is with the `df` on both sides of the `=` sign.** It *is* possible to create a pandas Series "*outside*" of the original DataFrame, and the index will line up with the DataFrame in question, but this is not a good habit to get into, as it's not uncommon for indices to morph throughout your manipulation work.

In [18]:
df_ = pd.DataFrame({'a': [1, 2, 3, 4]})
df_

   a
0  1
1  2
2  3
3  4

In [19]:
series_ = pd.Series(index=[3, 1, 2], data=[5, 6, 7])

In [20]:
df_['series_'] = series_
df_

   a  series_
0  1      NaN
1  2      6.0
2  3      7.0
3  4      5.0

For example, let's start by looking at the total number of words and characters in each film.

In [21]:
df_films[df_films.script_id == 280]

,script_id,character,words,gender,age,imdb_id,title,release_year,gross
0,280,betty,311,f,35.0,tt0112579,The Bridges of Madison County,1995,142.0
1,280,carolyn johnson,873,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0
2,280,eleanor,138,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0
3,280,francesca johns,2251,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0
4,280,madge,190,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0
5,280,michael johnson,723,m,38.0,tt0112579,The Bridges of Madison County,1995,142.0
6,280,robert kincaid,1908,m,65.0,tt0112579,The Bridges of Madison County,1995,142.0

In [22]:
df_title_words = df_films.groupby(['title']) \
                          .agg({'words': 'sum',
                                'character': 'nunique'}) \
                          .rename(columns = {"character": "n_characters"})
df_title_words

                            words  n_characters
title
(500) Days of Summer        18500            13
10 Things I Hate About You  19680            12
12 Years a Slave            19628            28
12 and Holding              15968            15
127 Hours                    5145             4
...                           ...           ...
Zero Effect                 13927             7
Zerophilia                  16686             8
Zodiac                      14656            31
eXistenZ                     9447             9
xXx                          8285             9

[1994 rows x 2 columns]

The `groupby` operation automatically assigns the "group" to the index because it is guaranteed to be unique.

### Resetting the Index

We could reset this if we like, as we typically will when we use `groupby`.

In [23]:
df_title_words.reset_index(inplace=True)
df_title_words

                           title  words  n_characters
0           (500) Days of Summer  18500            13
1     10 Things I Hate About You  19680            12
2               12 Years a Slave  19628            28
3                 12 and Holding  15968            15
4                      127 Hours   5145             4
...                          ...    ...           ...
1989                 Zero Effect  13927             7
1990                  Zerophilia  16686             8
1991                      Zodiac  14656            31
1992                    eXistenZ   9447             9
1993                         xXx   8285             9

[1994 rows x 3 columns]

### Setting the Index

And we can reverse this by picking a column **with no duplicates** to be the index. <span style='color:darkred'>Note: pandas will not stop you from setting a column *with* duplicates as an index, so be careful.</span>

In [24]:
df_title_words.set_index('title')

                            words  n_characters
title
(500) Days of Summer        18500            13
10 Things I Hate About You  19680            12
12 Years a Slave            19628            28
12 and Holding              15968            15
127 Hours                    5145             4
...                           ...           ...
Zero Effect                 13927             7
Zerophilia                  16686             8
Zodiac                      14656            31
eXistenZ                     9447             9
xXx                          8285             9

[1994 rows x 2 columns]

### groupby and transform

Our data only contains the number of words a character spoke in a film, but supposing we want the proportion of words from the film, we'll need `groupby` and `transform`. This will be fine because the combination of `groupby` and `transform` will return a dataframe with the same index as our data frame.

In [25]:
# intermediate step ... this index should match that of `df_films`
title_word_totals = df_films.groupby(['title'])['words'].transform('sum')

In [26]:
df_films['proportion_of_dialogue'] = df_films['words'] / title_word_totals

In [27]:
df_films[['title', 'words', 'proportion_of_dialogue']].sort_values('title')

                     title  words  proportion_of_dialogue
3700  (500) Days of Summer    134                0.007243
3709  (500) Days of Summer    600                0.032432
3708  (500) Days of Summer   8938                0.483135
3707  (500) Days of Summer   4080                0.220541
3706  (500) Days of Summer    112                0.006054
...                    ...    ...                     ...
3552                   xXx   1189                0.143512
3551                   xXx    998                0.120459
3550                   xXx   3714                0.448280
3548                   xXx    318                0.038383
3547                   xXx    272                0.032830

[23048 rows x 3 columns]

#### EXERCISE

What would be a good "gut check" to verify this operation?

In [28]:
groupby_proportions_dialogue_df = df_films.groupby("script_id").agg({"proportion_of_dialogue": "sum"})

groupby_proportions_dialogue_df.sum()

proportion_of_dialogue    1994.0
dtype: float64

## Accessor Objects

We've already seen many types of operations we can perform on virtually any kind of Series (or, DataFrame column), such as grouping, `transform`, adding/multiplying numbers, calculating aggregate values, etc. But, some operations which we have not discussed can only be applied to certain data types. For example, calculating a time interval makes sense given two dates, but it makes no sense given two random strings of characters.

[pandas Accessors](https://pandas.pydata.org/pandas-docs/stable/reference/series.html?highlight=accessor#accessors) are datatype-specific methods which can be applied to particular Series defined in pandas. Each one provides a vast range of operationality with their corresponding kinds of data. In this notebook, we'll give a couple examples of the accessors for [Categories](https://pandas.pydata.org/docs/user_guide/categorical.html), [Strings](https://pandas.pydata.org/docs/user_guide/text.html), and [Datetimes](https://pandas.pydata.org/docs/user_guide/timeseries.html).

### Category

To illustrate some of the nice aspects of the `.cat` accessor, let's take a look at the *age* column.

In [29]:
df_films['age'].describe(percentiles=[0.1, 0.25, 0.5, 0.75, 0.99])

count    18263.000000
mean        42.382960
std         59.718859
min          3.000000
10%         24.000000
25%         30.000000
50%         39.000000
75%         50.000000
99%         78.000000
max       2013.000000
Name: age, dtype: float64

Notice the maximum age ...

In [30]:
df_films[df_films['age'] > 100][['character', 'gender', 'age', 'title', 'release_year']]

,character,gender,age,title,release_year
4024,harold carnes,m,2000.0,American Psycho,2000
5254,margaret sulliv,f,2009.0,Case 39,2009
5370,bernie callo,m,2005.0,Chaos,2005
5950,realtor,m,2006.0,The Departed,2006
6899,thorpey,m,2000.0,Get Carter,2000
7787,bull,m,2007.0,Into the Wild,2007
7968,silent bob's mo,f,2001.0,Jay and Silent Bob Strike Back,2001
9233,monty malik,m,1999.0,Never Been Kissed,1999
9617,nessie,f,1993.0,The Piano,1993
9819,reporter,m,1980.0,Raging Bull,1980
10151,officer davis,m,1995.0,Se7en,1995
11639,lucas solomon,m,2013.0,The Wolf of Wall Street,2013
13601,newscaster,m,1992.0,Knight Moves,1992
14385,himself (,m,102.0,Only You,1994
14758,girl in bathroo,f,1996.0,Scream,1996
19222,captain ramirez,m,2007.0,Borderland,2007
21635,jack mccool,m,1996.0,Last Man Standing,1996

Before we can even continue, we notice the age looks to be confused with the year of the movie release for several instances. There are a few ways to rectify this, but for now, we'll set incorrect age values to be missing. *What are some other ways we could manage this issue?*

In [31]:
# something a bit more explicit than an arbitrary "max" year
mask = df_films['age'] == df_films['release_year']

In [32]:
# pandas NaN is actually a np.nan object
df_films.loc[mask, 'age'] = np.nan

In [33]:
g = sns.histplot(df_films['age'], bins=20)
g.grid(False, axis='x');

Our goal here is to create categories based on the *age* of each character, i.e., we want "age groups". Since we should **never choose arbitrary breaks in data**, we'll use the [NIH age groups](https://www.nih.gov/nih-style-guide/age) to divide our data, and we'll translate the groups into our DataFrame using `cut`, as we've seen before.

In [34]:
df_films['age_group'] = pd.cut(df_films['age'], 
                               bins=[-1, 1, 12, 17, 65, 999],
                               labels=['Infant', 'Child', 'Adolescent', 'Adult', 'Older Adult'])

In [35]:
# data check
df_films.groupby('age_group')['age'].agg(['min', 'max'])

/tmp/ipykernel_5222/3540895954.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_films.groupby('age_group')['age'].agg(['min', 'max'])

              min    max
age_group
Infant        NaN    NaN
Child         3.0   12.0
Adolescent   13.0   17.0
Adult        18.0   65.0
Older Adult  66.0  102.0

In [36]:
df_films['age_group']

0              Adult
1                NaN
2                NaN
3              Adult
4              Adult
            ...
23043          Adult
23044    Older Adult
23045          Adult
23046    Older Adult
23047          Adult
Name: age_group, Length: 23048, dtype: category
Categories (5, object): ['Infant' < 'Child' < 'Adolescent' < 'Adult' < 'Older Adult']

In [37]:
df_films['age_group'].cat.ordered

True

Notice, categories can be *ordered* as the are here, and we can also use `cat.codes()` to convert them to numerical values (and back).

In [38]:
#  notice the use of `.cat` here
pd.concat((df_films['age_group'], 
           df_films['age_group'].cat.codes), axis=1).drop_duplicates()

       age_group  0
0          Adult  3
1            NaN -1
46    Adolescent  2
80   Older Adult  4
116        Child  1

In [39]:
df_films['age_group'].cat.categories

Index(['Infant', 'Child', 'Adolescent', 'Adult', 'Older Adult'], dtype='object')

Since the categories are ordered, we should see them show up "in order" in Seaborn plots, too. For example, suppose we are interested in looking at how the age group distribution in movies changes over the years.

In [40]:
df_films.head()

,script_id,character,words,gender,age,imdb_id,title,release_year,gross,proportion_of_dialogue,age_group
0,280,betty,311,f,35.0,tt0112579,The Bridges of Madison County,1995,142.0,0.048639,Adult
1,280,carolyn johnson,873,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0,0.136534,NaN
2,280,eleanor,138,f,NaN,tt0112579,The Bridges of Madison County,1995,142.0,0.021583,NaN
3,280,francesca johns,2251,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,0.352049,Adult
4,280,madge,190,f,46.0,tt0112579,The Bridges of Madison County,1995,142.0,0.029715,Adult

In [41]:
df_films_by_year = df_films.groupby(['release_year', 'age_group'], observed=True)['title'].agg([('num_characters', 'count')]).reset_index()

df_films_by_year.head()

   release_year    age_group  num_characters
0          1929        Adult               6
1          1931        Adult              11
2          1931  Older Adult               1
3          1932        Adult              43
4          1932  Older Adult               4

In [42]:
fig, axes = plt.subplots(2, 1, sharex=True, figsize=(9, 6))

# adults included
sns.lineplot(df_films_by_year, x='release_year', y='num_characters', hue='age_group', ax=axes[0])
axes[0].grid(False, axis='x')
axes[0].set_title("Adults Included")

# adults excluded
mask = df_films_by_year['age_group'] != 'Adult'
sns.lineplot(df_films_by_year[mask], x='release_year', y='num_characters', hue='age_group', ax=axes[1])
axes[1].grid(False, axis='x')
axes[1].set_title("Without Adults");

### EXERCISE

What are some issues with these plots? Try to come up with at least one issue with the above data visualizations, and edit (or, rewrite) the code to build a different view of the data.

### String

pandas also provides accessors objects for strings. Built from the Python string methods, the pandas string methods will transform each string value in a column, and run the operator called after `.str`.

| **Pandas String Method** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| df['column_name']`.str.lower()`         | makes the string in each row lowercase                                                                                |
| df['column_name']`.str.upper()`         | makes the string in each row uppercase                                                |
| df['column_name']`.str.title()`         | makes the string in each row titlecase                                                |
| df['column_name']`.str.replace('old string', 'new string')`      | replaces `old string` with `new string` for each row |
| df['column_name']`.str.contains('some string')`      | tests whether string in each row contains "some string" |
| df['column_name']`.str.split('delim')`          | returns a list of substrings separated by the given delimiter |
| df['column_name']`.str.join(list)`         | opposite of split(), joins the elements in the given list together using the string                                                                        |

For example, to transform every character's name in the "character" column from all lowercase to title case (i.e., capitalize the first letter of each "word"), we can use `.str.title()` .

In [43]:
df_films['character'] = df_films['character'].str.title()
df_films['character'].head()

0              Betty
1    Carolyn Johnson
2            Eleanor
3    Francesca Johns
4              Madge
Name: character, dtype: object

If we want to replace the gender column's single letter abbreviation to "male" / "female", we could use the `.str.replace()` method.

In [44]:
df_films['gender'] = df_films['gender'].str.replace('m', 'male')

In [45]:
df_films['gender'] = df_films['gender'].str.replace('f', 'female')

In [46]:
df_films.sample(5)

,script_id,character,words,gender,age,imdb_id,title,release_year,gross,proportion_of_dialogue,age_group
1608,1018,Denise Willis,802,female,31.0,tt0251736,House of 1000 Corpses,2003,18.0,0.095624,Adult
9608,3092,Szalas,304,male,37.0,tt0253474,The Pianist,2002,48.0,0.028545,Adult
12433,4044,Jack,109,male,32.0,tt0142192,The Corruptor,1999,26.0,0.011236,Adult
11729,3761,Ron,868,male,38.0,tt0203230,You Can Count on Me,2000,14.0,0.038431,Adult
1132,906,Jeff Spicoli,852,male,22.0,tt0083929,Fast Times at Ridgemont High,1982,NaN,0.113691,Adult

We can use the `.str.contains()` to search for particular words or phrases in a column, such as "Star Wars."

In [47]:
df_films[df_films['title'].str.contains('Star Wars')].sample(5)

,script_id,character,words,gender,age,imdb_id,title,release_year,gross,proportion_of_dialogue,age_group
10610,3433,Han Solo,2024,male,38.0,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980,937.0,0.219214,Adult
21001,8099,C-3Po,138,male,69.0,tt2488496,Star Wars: Episode VII - The Force Awakens,2015,927.0,0.020702,Older Adult
21006,8099,Maz Kanata,241,female,32.0,tt2488496,Star Wars: Episode VII - The Force Awakens,2015,927.0,0.036154,Adult
10627,3437,Queen Amidala,656,female,18.0,tt0120915,Star Wars: Episode I - The Phantom Menace,1999,813.0,0.061091,Adult
10592,3427,C-3Po,312,male,59.0,tt0121766,Star Wars: Episode III - Revenge of the Sith,2005,515.0,0.022451,Adult

### Datetime

The pandas `datetime` object contains several different [methods](https://pandas.pydata.org/pandas-docs/stable/reference/series.html?highlight=accessor#datetimelike-properties) which can be used to shed light on date/datetime data, but the benefit of using them is most apparent when we have dates/times down to the day or even hour. In `df_films`, we only have year aggregation, so it would be difficult to show the benefits of the datetime accessor.

We will discuss datetime Series in-depth when we cover Time Series data in a later lesson, but for now we'll introduce them using a related data set found on [Box Office Mojo](https://www.boxofficemojo.com), namely the 2023 [top 200 box office films](https://www.boxofficemojo.com/year/2023).

**A Quick Note on Web Scraping**

Web scraping is a method by which we collect data from websites online using code. There are several Python packages built specifically for web scraping (e.g., [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/), and [Scrapy](https://scrapy.org/)), but this method of collecting data is usually less effective than other alternatives we'll discuss in future lessons. That said, when web scraping actually is more effective, usually the website uses HTML tables, which pandas can parse using `read_html`.

*Note: you may need to install `lxml` (in this environment; and restart your kernel) to run the next cell.*

In [48]:
# see the documentation on `read_html`
df_mojo = pd.read_html('https://www.boxofficemojo.com/year/2023', match='Rank')[0]
df_mojo.head()

,Rank,Release,Genre,Budget,Running Time,Gross,Theaters,Total Gross,Release Date,Distributor,Estimated
0,1,Barbie,-,-,-,"$636,225,983",4337,"$636,238,421",Jul 21,Warner Bros.,False
1,2,The Super Mario Bros. Movie,-,-,-,"$574,934,330",4371,"$574,934,330",Apr 5,Universal Pictures,False
2,3,Spider-Man: Across the Spider-Verse,-,-,-,"$381,311,319",4332,"$381,311,319",Jun 2,Columbia Pictures,False
3,4,Guardians of the Galaxy Vol. 3,-,-,-,"$358,995,815",4450,"$358,995,815",May 5,Walt Disney Studios Motion Pictures,False
4,5,Oppenheimer,-,-,-,"$326,101,370",3761,"$328,456,370",Jul 21,Universal Pictures,False

In [49]:
# these are some columns we don't need
df_mojo.drop(columns=['Genre', 'Budget', 'Running Time', 'Estimated'], inplace=True)

In [50]:
# clean up column names using a dictionary comprehension
df_mojo.rename(columns={c:c.lower().replace(" ", "_") for c in df_mojo.columns},
               inplace=True)

In [51]:
df_mojo.columns

Index(['rank', 'release', 'gross', 'theaters', 'total_gross', 'release_date',
       'distributor'],
      dtype='object')

In [52]:
df_mojo['release_date']

0      Jul 21
1       Apr 5
2       Jun 2
3       May 5
4      Jul 21
        ...
195    May 12
196    Dec 23
197     Apr 7
198    Mar 17
199     Jun 2
Name: release_date, Length: 200, dtype: object

It's a bit rare to see a date column without a year. Since we know the year for all of these is 2023 (this comes from the 2023 box office), we can tack that on to the release date using the `+` operator. Then, `pd.to_datetime` is the [preferred method](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) to parse and convert a date-looking string into a datetime object.

In [53]:
df_mojo['release_date'] = pd.to_datetime(df_mojo['release_date'] + " 2023")

In [54]:
df_mojo['release_date']

0     2023-07-21
1     2023-04-05
2     2023-06-02
3     2023-05-05
4     2023-07-21
         ...
195   2023-05-12
196   2023-12-23
197   2023-04-07
198   2023-03-17
199   2023-06-02
Name: release_date, Length: 200, dtype: datetime64[ns]

Let's make a column for the month of the release, and another one for the quarter.

In [55]:
df_mojo['release_month'] = df_mojo['release_date'].dt.month
df_mojo['release_quarter'] = df_mojo['release_date'].dt.quarter

## Applying Functions

### Lambda Functions

Before we go on, let's take a quick aside from pandas to introduce [anonymous functions](https://realpython.com/python-lambda/#anonymous-functions), or in Python "lambda functions". As we've seen before, we can define "named" functions `myfunc` in Python using the standard `def` and `return` syntax, and then call them with parentheses `myfunc()`. But, it's not always the case that you need a function that can be called, rather you want to use the power of a function within another method. For this, we use a lambda function, which is set to take in some set of variables, and return a result.

    lambda var1: f(var1)
    lambda var1, var2: f(var1, var2)

For example, suppose we are given a list of full names, and we want to sort them based on the last name.

In [56]:
names = ["Jean-Luc Picard", "Beverly Crusher", "Deanna Troi", "William Riker", "Geordi LaForge"]
sorted(names)

['Beverly Crusher',
 'Deanna Troi',
 'Geordi LaForge',
 'Jean-Luc Picard',
 'William Riker']

In [57]:
sorted(names, key=lambda n: n.split(" ")[1])

['Beverly Crusher',
 'Geordi LaForge',
 'Jean-Luc Picard',
 'William Riker',
 'Deanna Troi']

### Map, Filter, and Reduce

Another use for lambda functions (outside of pandas, that is) involves using `map`, `filter`, or `reduce` functions.

In [58]:
from functools import reduce

The `map` function "applies" a given function to each element of an iterable. It returns a [*generator*](https://realpython.com/introduction-to-python-generators/#understanding-generators) object, which as we've seen before needs to be iterated through. **Think of a generator like a slide deck**, where the thing itself doesn't reveal any of its elements until you are ready for the "next slide". Also like a slide deck, when it's over, it's over.

In [59]:
first_names = map(lambda n: n.split(" ")[0], names)

In [60]:
# run this cell until you can't anymore ...
list(first_names)

['Jean-Luc', 'Beverly', 'Deanna', 'William', 'Geordi']

In [61]:
# after running the above cell, we need to redefine the generator
first_names = map(lambda n: n.split(" ")[0], names)
[i for i in first_names]

['Jean-Luc', 'Beverly', 'Deanna', 'William', 'Geordi']

In [62]:
# after running the above cell, try running this cell
# [i for i in first_names]

`filter` is similar to `map` in that it returns a generator, but its purpose is to *filter* the elements of the iterable based on some condition.

In [63]:
hyphenated_names = filter(lambda n: "-" in n, names)
[i for i in hyphenated_names]

['Jean-Luc Picard']

Lastly, `reduce` is meant to combine elements into one. It uses a function which (typically) takes in two variables. This function is applied to the first two elements of the iterable, and then its applied to the resulting value and the next element of the iterable, and so on.

    reduce(lambda a, b: f(a, b), [e1, e2, e3, e4, e5])
    
    step 1: f(e1, e2) ---> R1
    step 2: f(R1, e3) ---> R2
    step 3: f(R2, e4) ---> R3
    step 4: f(R3, e5) ---> final result

For example, we can use it to compute an average of a set of numbers.

In [64]:
list_of_numbers = [5, 4, 2, 7, 19]

In [65]:
reduce(lambda a, b: a + b, list_of_numbers) / len(list_of_numbers)

7.4

In [66]:
np.mean(list_of_numbers)

7.4

Or, further, an average of averages, if we combine `map` with `reduce`.

In [67]:
list_of_samples = [[1, 4, 3], [5, 4, 2], [9, 2, 1]]

In [68]:
list_of_averages = map(np.mean, list_of_samples)

In [69]:
# sum of three values over 3
reduce(lambda a, b: a + b, list_of_averages) / len(list_of_samples)

3.444444444444444

In [70]:
# this list comprehension will flatten a list of lists
l = [e for sublist in list_of_samples for e in sublist]
l

[1, 4, 3, 5, 4, 2, 9, 2, 1]

In [71]:
# the average of averages is the average of the full set
np.mean(l)

3.4444444444444446

Note, ["Map-Reduce"](https://en.wikipedia.org/wiki/MapReduce) is actually a process by which (a cluster of) computers can manage processing on huge (petabyte-scale) datasets, and it uses an application of exactly the same idea above, just on a much larger scale.

### Apply Functions

Using the same sort of thinking we've illustrated above, we can *apply* functions (lambda or otherwise) across all values in a column (or, any number of columns) using `.apply`. For instance, in `df_films`, we notice that character names are sometimes single names (like "Peter"), and other times, they contain last names or sometimes even middle names. Let's make a column that counts the number of "sub-names" in a characters name.

In [72]:
df_films[df_films['character'].isna()]

,script_id,character,words,gender,age,imdb_id,title,release_year,gross,proportion_of_dialogue,age_group
4656,1807,NaN,146,female,NaN,tt0120603,Beloved,1998,42.0,0.005162,NaN
19448,7445,NaN,520,female,NaN,tt0093223,House of Games,1987,5.0,0.165184,NaN

In [73]:
def subnames(name):
    '''
    Using the idea that multiple subnames can only occur with a space, we 
    count the spaces, and add one to get the number of subnames.
    '''
    # what if the character name is missing?
    if pd.isna(name):
        n_subnames = 0
    else:
        n_subnames = name.count(" ") + 1
        
    return n_subnames

In [74]:
df_films['n_character_subnames'] = df_films['character'].apply(subnames)

In [75]:
df_films['n_character_subnames'].unique()

array([1, 2, 3, 4, 7, 5, 8, 0, 6, 9])

Greater than four subnames seems a bit odd. To investigate this particular number of subnames (as a start), we can also use `.apply` on the column axis. In this way, the function is taking in a row (i.e., a pandas Series).

In [76]:
def messy_name(r):
    # this number 
    if r['n_character_subnames'] > 4:
        subnames = r['character'].split(" ")
    else:
        subnames = "not messy"
    return subnames

In [77]:
df_films['messy_name'] = df_films.apply(messy_name, axis=1)

In [78]:
cols = ['character', 'n_character_subnames', 'messy_name']
df_films[df_films['messy_name'] != "not messy"][cols]

             character  n_character_subnames                 messy_name
1449   Mr. Borgin                          7    [Mr., Borgin, , , , , ]
2623   Riff Raff - A H                     5      [Riff, Raff, -, A, H]
2959   Gregory       (                     8   [Gregory, , , , , , , (]
4723   Sam - Man In Di                     5      [Sam, -, Man, In, Di]
5026   Ward Abbott                         6     [Ward, Abbott, , , , ]
6088   Clinic Girl                         6     [Clinic, Girl, , , , ]
7077   Clerk        (U                     9  [Clerk, , , , , , , , (U]
7303   Watts       (Ar                     8   [Watts, , , , , , , (Ar]
8089   Fidget       (C                     8   [Fidget, , , , , , , (C]
8833   Bert       (Cre                     8   [Bert, , , , , , , (Cre]
9250   Smokey       (A                     8   [Smokey, , , , , , , (A]
9349   Duane Cooley                        5      [Duane, Cooley, , , ]
11549  Beany Thorn                         6     [Beany, Thorn, , , , ]
11553  Chet       (Sce                     8   [Chet, , , , , , , (Sce]
11564  Red       (Scen                     8   [Red, , , , , , , (Scen]
13818  A Man On A Dais                     5      [A, Man, On, A, Dais]
13937  The Magician                        5      [The, Magician, , , ]
14385  Himself       (                     8   [Himself, , , , , , , (]
15446  Lucy Moran                          7    [Lucy, Moran, , , , , ]
16908  Chad Kaplan                         6     [Chad, Kaplan, , , , ]
20421  Clubber Lang                        5      [Clubber, Lang, , , ]

## Melt and Pivot

When we extract data from [The World Bank Databases](https://data.worldbank.org/), we need to be careful to set the layout so that our data is in the orientation we want. In most cases, we want a "long" data frame where columns are variables, rows are observations, and values correspond to the two. Let's take a look at a small set of data extracted from the [Food Prices for Nutrition](https://databank.worldbank.org/source/food-prices-for-nutrition) database, where the orientation isn't quite right.

In [79]:
df_foods = pd.read_csv("./data/cost_of_food.csv").dropna()
df_foods.head()

,Classification Name,Classification Code,Country Name,Country Code,Series Name,Series Code,2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Food Prices for Nutrition 1.0,FPN 1.0,United States,USA,Cost of a healthy diet,CoHD,3.225000e+00,3.240000e+00,3.268000e+00,3.383000e+00,..
1,Food Prices for Nutrition 1.0,FPN 1.0,United States,USA,Population,Pop,3.251221e+08,3.268382e+08,3.283300e+08,3.294841e+08,..
2,Food Prices for Nutrition 1.0,FPN 1.0,United States,USA,Millions of people who cannot afford a healthy...,CoHD_unafford_n,6.500000e+00,5.700000e+00,4.900000e+00,4.900000e+00,..
3,Food Prices for Nutrition 1.0,FPN 1.0,World,WLD,Cost of a healthy diet,CoHD,3.314000e+00,3.350000e+00,3.425000e+00,3.537000e+00,..
4,Food Prices for Nutrition 1.0,FPN 1.0,World,WLD,Population,Pop,7.208181e+09,7.249963e+09,7.327597e+09,7.401935e+09,..

In [80]:
# clean up columns names
def clean_col_name(col):
    if 'YR' in col:
        end = col.find('[') - 1
        return col[:end]
    else:
        return col.lower().replace(" ", "_")
        
df_foods.rename(columns={c: clean_col_name(c) for c in df_foods.columns},
                inplace=True)

In [81]:
# we want country, series, and year for Food Prices for Nutrition (FPN) 2.0
df_foods = df_foods[df_foods['classification_code'] == "FPN 2.0"] \
                .drop(columns=['classification_name', 
                               'classification_code',
                               'country_code', 'series_code'])

In [82]:
df_foods

,country_name,series_name,2017,2018,2019,2020,2021
12,United States,Cost of a healthy diet,3.225000e+00,3.240000e+00,3.268000e+00,3.383000e+00,3.5
13,United States,Population,3.251221e+08,3.268382e+08,3.283300e+08,3.315011e+08,331893745
14,United States,Millions of people who cannot afford a healthy...,6.500000e+00,5.700000e+00,4.900000e+00,4.100000e+00,4
15,World,Cost of a healthy diet,3.295000e+00,3.355000e+00,3.431000e+00,3.511000e+00,3.662
16,World,Population,7.262444e+09,7.304447e+09,7.381667e+09,7.455672e+09,7519145737
17,World,Millions of people who cannot afford a healthy...,3.124900e+03,3.019100e+03,3.005500e+03,3.191900e+03,3139.5

### Melt

Notice that the *series_name* column actually contains what we want to be *column* names. Also, note that each year listed here should really be a *row* value. This data frame is an example of a "wide" data frame, which we want to be reoriented as a "long" data frame. To do this, we use `melt` to create another data frame which is still technically wide, but at least brings us closer to what we want. Here, the columns that we are "melting" are the years.

In [83]:
df_foods_melted = df_foods.melt(id_vars=['country_name', 'series_name'],
                                value_vars=[c for c in df_foods if 'name' not in c],  # <-- melt
                                value_name="series_value",
                                var_name='year')

In [84]:
df_foods_melted

,country_name,series_name,year,series_value
0,United States,Cost of a healthy diet,2017,3.225
1,United States,Population,2017,325122128.0
2,United States,Millions of people who cannot afford a healthy...,2017,6.5
3,World,Cost of a healthy diet,2017,3.295
4,World,Population,2017,7262444211.0
5,World,Millions of people who cannot afford a healthy...,2017,3124.9
6,United States,Cost of a healthy diet,2018,3.24
7,United States,Population,2018,326838199.0
8,United States,Millions of people who cannot afford a healthy...,2018,5.7
9,World,Cost of a healthy diet,2018,3.355
10,World,Population,2018,7304446818.0
11,World,Millions of people who cannot afford a healthy...,2018,3019.1
12,United States,Cost of a healthy diet,2019,3.268
13,United States,Population,2019,328329953.0
14,United States,Millions of people who cannot afford a healthy...,2019,4.9
15,World,Cost of a healthy diet,2019,3.431
16,World,Population,2019,7381666960.0
17,World,Millions of people who cannot afford a healthy...,2019,3005.5
18,United States,Cost of a healthy diet,2020,3.383
19,United States,Population,2020,331501080.0
20,United States,Millions of people who cannot afford a healthy...,2020,4.1
21,World,Cost of a healthy diet,2020,3.511
22,World,Population,2020,7455671559.0
23,World,Millions of people who cannot afford a healthy...,2020,3191.9
24,United States,Cost of a healthy diet,2021,3.5
25,United States,Population,2021,331893745
26,United States,Millions of people who cannot afford a healthy...,2021,4
27,World,Cost of a healthy diet,2021,3.662
28,World,Population,2021,7519145737
29,World,Millions of people who cannot afford a healthy...,2021,3139.5

### Pivot

Now, we will create a proper "long" data frame by **pivoting** the *series_name* column as columns. We do this using `pd.pivot`. This is sort of the *reverse* of `melt`.

In [85]:
df_foods_pivoted = pd.pivot(df_foods_melted, 
                            index=['country_name', 'year'],   # a unique identifier for each row
                            columns=['series_name'],          # the column containing column names
                            values='series_value')            # the values of interest

df_foods_pivoted.reset_index(inplace=True) 
df_foods_pivoted.rename_axis(None, axis=1, inplace=True)      # remove the named index

In [86]:
df_foods_melted.sample(5)

,country_name,series_name,year,series_value
13,United States,Population,2019,328329953.0
7,United States,Population,2018,326838199.0
8,United States,Millions of people who cannot afford a healthy...,2018,5.7
12,United States,Cost of a healthy diet,2019,3.268
10,World,Population,2018,7304446818.0

In [87]:
df_foods_pivoted.sample(5)

,country_name,year,Cost of a healthy diet,Millions of people who cannot afford a healthy diet,Population
6,World,2018,3.355,3019.1,7304446818.0
2,United States,2019,3.268,4.9,328329953.0
8,World,2020,3.511,3191.9,7455671559.0
3,United States,2020,3.383,4.1,331501080.0
4,United States,2021,3.5,4,331893745

## EXERCISES

## Part 1

Each one of these movies is a top box office movie, which we can temporarily call a "blockbuster". Let's investigate the (financial) performance of these movies based on how long it's been since the last blockbuster was released. (So, we're looking at the time between each row as the "time since last blockbuster"...)

In this exercise, make a new column which represents the time since the last blockbuster, and plot the *total_gross* (as a number) against that value.

*Hint: Take a look at the pandas [`shift`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shift.html) method.*

In [88]:
df_films.columns

Index(['script_id', 'character', 'words', 'gender', 'age', 'imdb_id', 'title',
       'release_year', 'gross', 'proportion_of_dialogue', 'age_group',
       'n_character_subnames', 'messy_name'],
      dtype='object')

In [89]:
df_films.head()

,script_id,character,words,gender,age,imdb_id,title,release_year,gross,proportion_of_dialogue,age_group,n_character_subnames,messy_name
0,280,Betty,311,female,35.0,tt0112579,The Bridges of Madison County,1995,142.0,0.048639,Adult,1,not messy
1,280,Carolyn Johnson,873,female,NaN,tt0112579,The Bridges of Madison County,1995,142.0,0.136534,NaN,2,not messy
2,280,Eleanor,138,female,NaN,tt0112579,The Bridges of Madison County,1995,142.0,0.021583,NaN,1,not messy
3,280,Francesca Johns,2251,female,46.0,tt0112579,The Bridges of Madison County,1995,142.0,0.352049,Adult,2,not messy
4,280,Madge,190,female,46.0,tt0112579,The Bridges of Madison County,1995,142.0,0.029715,Adult,1,not messy

First we need to sort the movies by `release_year` and `gross` of the movies, so that upon performing the shift operator, it woudl provide us with the gross since the last blockbuster

In [90]:
df_films_q1 = df_films.copy()

df_films_q1 = df_films_q1.sort_values(by=['release_year', 'gross'], ascending=[True, False])

In [91]:
df_films_q1['time_since_last_blockbuster'] = df_films_q1['release_year'] - df_films_q1['release_year'].shift(1)

In [92]:
sns.lineplot(data=df_films_q1, x='time_since_last_blockbuster', y='gross')
plt.show()

The line plot indicates that the gross of movies during the release of blockbuster movies is very low, and it tends to increase overtime

## Part 2

Clean up the *character* column of `df_films`. We want to do our best to make sure that every value in this column is assigned to a meaningful character name.

In [93]:
df_films_q2 = df_films.copy()

df_films_q2

,script_id,character,words,gender,age,imdb_id,title,release_year,gross,proportion_of_dialogue,age_group,n_character_subnames,messy_name
0,280,Betty,311,female,35.0,tt0112579,The Bridges of Madison County,1995,142.0,0.048639,Adult,1,not messy
1,280,Carolyn Johnson,873,female,NaN,tt0112579,The Bridges of Madison County,1995,142.0,0.136534,NaN,2,not messy
2,280,Eleanor,138,female,NaN,tt0112579,The Bridges of Madison County,1995,142.0,0.021583,NaN,1,not messy
3,280,Francesca Johns,2251,female,46.0,tt0112579,The Bridges of Madison County,1995,142.0,0.352049,Adult,2,not messy
4,280,Madge,190,female,46.0,tt0112579,The Bridges of Madison County,1995,142.0,0.029715,Adult,1,not messy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23043,9254,Lumiere,1063,male,56.0,tt0101414,Beauty and the Beast,1991,452.0,0.104636,Adult,1,not messy
23044,9254,Maurice,1107,male,71.0,tt0101414,Beauty and the Beast,1991,452.0,0.108967,Older Adult,1,not messy
23045,9254,Monsieur D'Arqu,114,male,58.0,tt0101414,Beauty and the Beast,1991,452.0,0.011222,Adult,2,not messy
23046,9254,Mrs. Potts,564,female,66.0,tt0101414,Beauty and the Beast,1991,452.0,0.055517,Older Adult,2,not messy
23047,9254,Wardrobe,121,female,54.0,tt0101414,Beauty and the Beast,1991,452.0,0.011911,Adult,1,not messy

In [94]:
df_films_q2[df_films_q2.messy_name != "not messy"]["messy_name"]

1449       [Mr., Borgin, , , , , ]
2623         [Riff, Raff, -, A, H]
2959      [Gregory, , , , , , , (]
4723         [Sam, -, Man, In, Di]
5026        [Ward, Abbott, , , , ]
6088        [Clinic, Girl, , , , ]
7077     [Clerk, , , , , , , , (U]
7303      [Watts, , , , , , , (Ar]
8089      [Fidget, , , , , , , (C]
8833      [Bert, , , , , , , (Cre]
9250      [Smokey, , , , , , , (A]
9349         [Duane, Cooley, , , ]
11549       [Beany, Thorn, , , , ]
11553     [Chet, , , , , , , (Sce]
11564     [Red, , , , , , , (Scen]
13818        [A, Man, On, A, Dais]
13937        [The, Magician, , , ]
14385     [Himself, , , , , , , (]
15446      [Lucy, Moran, , , , , ]
16908       [Chad, Kaplan, , , , ]
20421        [Clubber, Lang, , , ]
Name: messy_name, dtype: object

In [95]:
def messy_name(r):
    if r['n_character_subnames'] > 4:
        subnames = r['character'].split(" ")
    else:
        subnames = "not messy"
    return subnames

df_films_q2["messy_name"] = df_films_q2.apply(messy_name, axis=1)

In [96]:
len(df_films_q2[df_films_q2.messy_name != "not messy"]["messy_name"])

21

There are `23048` rows and by the above defined `messy_name` function only `21` are only named messy. Let's re-define the function to encapsulate larger space of messy names.

I thinks it's resonable to think of names containing more than `3` subnames as messy_name. Though some name might be having more than `3` subnames

In [97]:
def messy_name(r):
    if r['n_character_subnames'] > 3:
        subnames = r['character'].split(" ")
    else:
        subnames = "not messy"
    return subnames

df_films_q2["messy_name"] = df_films_q2.apply(messy_name, axis=1)
len(df_films_q2[df_films_q2.messy_name != "not messy"]["messy_name"])

215

With this new definiton we get `215` rows with messy_names. Let's inspect them

In [98]:
df_films_q2[df_films_q2.messy_name != "not messy"]["messy_name"].sample(20)

2623     [Riff, Raff, -, A, H]
7958      [James, Van, Der, B]
2047      [Man, In, The, Iron]
16776     [Karl, -, Harry'S, ]
16696     [Dadinho, -, Li'L, ]
18918     [Prom, Goers, -, Ol]
14814     [Miss, Summers, -, ]
17521     [Cpl., Thomas, E., ]
4364      [Cryo, Vault, Med, ]
20211     [Fbi, Agent, Whit, ]
3324      [Cody, -, Vietnam, ]
13818    [A, Man, On, A, Dais]
3332      [Rick, Peck, -, Pec]
9054      [Dr., Emile, Von, H]
9933      [Mr., White, -, Lar]
10144     [Dead, Man, At, 1St]
3107      [Charlene, -, Aka, ]
16650     [Shere, Khan, The, ]
16758     [Woman, In, The, Pu]
4647      [Woman, At, Yom, Ki]
Name: messy_name, dtype: object

The names contain lot of un-necessary characters such as "-", "" (Empty String) etc... Let's have a look at all of them

In [99]:
char_set = set()

for item in df_films_q2[df_films_q2.messy_name != "not messy"]["messy_name"].tolist():
    for word in item:
        char_set = char_set.union(set(word))
print(char_set)

{'l', '-', 'j', 'V', 'f', '�', 'h', 'B', '0', 'o', 'x', '1', 'n', '(', 'Z', 'J', 'Q', '4', '&', 'c', 't', 'Y', 'a', 'e', 'L', 'D', '9', 'H', 's', 'K', ',', 'i', 'm', 'r', 'A', 'z', '7', '2', 'g', 'F', '#', 'q', "'", 'w', ':', 'P', 'N', 'u', 'I', 'b', 'W', '.', 'R', 'k', ';', 'U', 'p', 'C', 'T', 'O', 'd', 'v', 'G', 'y', 'S', 'E', 'M'}

In [100]:
#Removing alpha-numerics
from string import ascii_letters

numbers = set(str(item) for item in range(10))
char_set = char_set.difference(set(ascii_letters)).difference(numbers)
print(char_set)

{'-', '&', '�', ',', '(', '#', ':', '.', "'", ';'}

Characters such as `.`, `'`, `-` and `#` make sense to have within their names

In [101]:
df_films_q2["character"].loc[11256]

'Lobby Cop #1'

Before we remove these characters we need to remove empty spaces

In [102]:
def remove_empty_spaces(r):
    name = r["messy_name"]

    if name == "not messy": return name
    else:
        new_name = [item for item in name if item != ""]
        return new_name

df_films_q2["messy_name"] = df_films_q2.apply(remove_empty_spaces, axis=1)

Now let's remove the remaining characters. First we need to remove usefull characters from this set

In [103]:
char_set = char_set.difference({"#", "'", ".", "-"})
print(char_set)

{'&', '�', ',', '(', ':', ';'}

In [104]:
def remove_characters(r, character):
    name = r["messy_name"]

    if name == "not messy":
        return name
    new_name = [item for item in name if character not in item]
    return new_name

In [105]:
for char in char_set:
    df_films_q2["messy_name"] = df_films_q2.apply(remove_characters, args=(char, ), axis=1)

Re-evaluating the number of subnames, first we need to form a name form the cleaned messy_name.

In [106]:
def new_name(r):
    messy_name = r["messy_name"]
    character_name = r["character"]

    if messy_name == "not messy":
        return character_name
    else:
        return " ".join(messy_name)

df_films_q2["new_name"] = df_films_q2.apply(new_name, axis=1)

In [107]:
df_films_q2['n_character_subnames'] = df_films_q2['new_name'].apply(subnames)

df_films_q2['messy_name'] = df_films_q2.apply(messy_name, axis=1)

In [108]:
len(df_films_q2[df_films_q2.messy_name != "not messy"]["messy_name"])

116

With that `messy_names` are down to `116`!

In [109]:
pd.set_option('display.max_rows', 120)

In [110]:
df_films_q2[df_films_q2.messy_name != "not messy"]["messy_name"].sample(frac=1.0)

4714      [Deke, Carter, -, D]
18684     [Aurora, De, La, Ho]
21405     [The, Real, Dr, Tyl]
18980     [Young, Man, In, Pl]
19815     [Bill, Lawson, -, N]
19584     [Dr., Dean, L., Mcd]
21263     [Don, Hector, De, L]
3209      [Stan, -, Depot, Ma]
6022      [Judge, Sklar, -, M]
4721      [Mrs., Bundy, -, Or]
6075      [Guy, At, Pool, Hal]
9307      [Anna, -, Moscow, R]
16406     [Doctor, At, Old, P]
9054      [Dr., Emile, Von, H]
12005      [The, 2Nd, Mrs., P]
8153      [Samuel, -, Male, N]
18227     [Girl, With, The, J]
22561     [Sayer, Of, The, La]
2616      [Brad, Majors, -, A]
16649     [King, Louie, Of, T]
2311      [The, Duke, Of, Nor]
214       [Dr., J., S., Hirsc]
13974     [1St, Lt., Luke, Si]
1906      [Nico, The, Goth, G]
8828      [Young, Man, In, Co]
22694     [Dr., Wexler, -, Ma]
3259      [Woman, At, Gift, S]
5394      [Guy, At, Hockey, G]
16515     [Iqbal, -, The, Dri]
21491     [Pvt., Mary, Lou, G]
12558     [Chuck, -, Beard, C]
17742     [Man, In, The, Hall]
10144     [Dead, Man, At, 1St]
7089      [Senf, -, The, Port]
1140      [Boy, In, Police, S]
8890      [Sally, Buck, -, Te]
17163     [Del, Rio, Motel, C]
1779      [The, Keeper, Of, T]
2047      [Man, In, The, Iron]
16758     [Woman, In, The, Pu]
15342     [Fbi, S.A., Adam, F]
5454      [Maria, Di, Vita, -]
9933      [Mr., White, -, Lar]
18979     [Young, Cop, In, Pl]
3698      [Autumn, -, Girl, A]
7958      [James, Van, Der, B]
10262     [Peter, -, The, Sta]
4222      [Mike, From, San, D]
4411       [Old, Man, In, Car]
11536     [Jan, Van, Der, Vel]
2621      [Magenta, -, A, Dom]
4168      [Young, Earl, Of, O]
15250     [Jake, -, Slater, M]
665       [Dr., Earl, W., Tar]
3323      [Alpa, Chino, -, Ho]
9822      [Tony, Janiro, -, J]
11194     [Megan, -, The, Doc]
14811     [Jason, Hoag, -, Po]
22678     [Umpire, -, Game, 2]
8884      [Bus, Driver, -, Fl]
3332      [Rick, Peck, -, Pec]
14162     [Man, In, Tour, Gui]
9575      [Young, Man, In, Li]
15588     [James, -, Max'S, B]
2384      [Mr., Peters, -, Ne]
2623     [Riff, Raff, -, A, H]
22128     [Dr., Inga, Von, We]
7576      [Russian, Cob, -, R]
19500     [1St, Lt., Milo, Mi]
18918     [Prom, Goers, -, Ol]
8787      [1St, Lt., Tom, Pul]
8885      [Jackie, -, New, Yo]
14819     [Mrs., Lowood, -, H]
9931      [Mr., Orange, -, Fr]
3528      [The, Wizard, Of, O]
6987      [The, Mayor, Of, Ny]
7570      [Kamarov, -, Red, O]
7774      [Woman, On, The, Ro]
456       [Ed, Bloom, -, Youn]
5801      [Dr., Daniel, P., S]
6507      [Desk, Clerk, At, M]
17545     [Dr., John, H., Wat]
455       [Dr., Bennett, -, S]
17170     [Man, Who, Hires, W]
2617      [Columbia, -, A, Gr]
12432     [Himself, -, Tv, Re]
19427     [Chief, Of, The, Wa]
13724     [Roblos, -, The, Po]
9928      [Mr., Blonde, -, Vi]
13818    [A, Man, On, A, Dais]
5679      [The, Man, In, Blac]
10143     [Crazed, Man, In, M]
11193     [Jim, -, The, Docto]
4723     [Sam, -, Man, In, Di]
16825     [Ben, Newman, At, 7]
18172     [New, Path, Farm, M]
8889      [Rich, Lady, -, New]
9665      [Boy, In, Soda, Sho]
20192      [Bobby, -, Age, 10]
1084      [Map, To, The, Star]
4412      [Reporter, -, Us, N]
5793      [Stands, With, A, F]
2620      [Janet, Weiss, -, A]
6345      [Girl, In, Chock, F]
8009      [Fbi, Agent, -, Fra]
5872      [Guy, Wife, In, Bar]
6515      [Voice, Of, Drug, F]
5797      [Wind, In, His, Hai]
4403      [John, -, Border, P]
3431      [A, Bomb, Test, Anc]
18650     [Alvaro, De, La, Qu]
20715     [Cloudy, With, A, C]
14896     [April, Lee, The, B]
10933     [Andy, -, Gun, Sale]
4647      [Woman, At, Yom, Ki]
21617     [Col., James, M., M]
Name: messy_name, dtype: object

In [112]:
df_films_q2.loc[4412]["new_name"]

'Reporter - Us N'

Within the remaining names, most of them seem perfectly fine. However some of them look incomplete, such as in the row `4412` it looks the name should have been `Reporter - US News`. Aprt from such incomplete issues the names appear to the fine.